%%-*- mode: erlang -*-
%% ex: ft=erlang
{recursive_cmds, [clean,eunit]}.
{xref_checks, [undefined_functions,
               locals_not_used, exports_not_used,
               deprecated_function_calls, deprecated_functions]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info
            %, debug_info, report_warnings, {warn_format,1}
            %, warn_export_vars, warn_obsolete_guard
            %, warn_unused_import, warn_missing_spec
            %, warn_untyped_record
           ]}.
{eunit_opts, [verbose]}.
{deps, [
    {erlscrypt, "1.1.7", {git, "https://github.com/K2InformaticsGmbH/erlscrypt.git", {tag, "1.1.7"}}},
    {sext,      "",      {git, "https://github.com/K2InformaticsGmbH/sext.git",      "b984b105d869a202657319e0320c2bb1a4011c53"}},
    {goldrush,  "0.1.6", {git, "https://github.com/K2InformaticsGmbH/goldrush.git",  {tag, "0.1.6"}}},
    {lager,     "2.1.0", {git, "https://github.com/K2InformaticsGmbH/lager.git",     {tag, "2.1.0"}}},
    {jsx,       "2.4.0", {git, "https://github.com/K2InformaticsGmbH/jsx.git",       {tag, "v2.4.0"}}},
    {ranch,     "1.3.2", {git, "https://github.com/K2InformaticsGmbH/ranch.git",     {tag, "1.3.2"}}},
    {sqlparse,  "1.5.4", {git, "https://github.com/K2InformaticsGmbH/sqlparse.git",  master}}
]}.

{port_specs,
 [{"win32", "priv/imem_nif.dll",
   ["c_src/imem_nif.cpp"]}
 ]}.

{port_env, [{"win32", "CXXFLAGS",
             "$CXXFLAGS /Zi /nologo /W3 /WX- /O2 /Ob2 /Ot /GL "
             "/D WIN32 /D _CRT_SECURE_NO_WARNINGS /Gm- /EHsc /GS "
             "-I\"c:/Program Files (x86)/Windows Kits/8.1/Include/um\" "
             "-I\"c:/Program Files (x86)/Windows Kits/8.1/Include/shared\" "
             "/fp:fast /Gd " %  /DUSE_MACRO
            },
            {"win32", "DRV_CFLAGS", "$ERL_CFLAGS"},
            {"win32", "EXE_CFLAGS", "$ERL_CFLAGS"},
            {"win32", "LDFLAGS",
             "$LDFLAGS /NOLOGO /MANIFEST:NO "
             "/LIBPATH:\"C:/Program Files (x86)/Windows Kits/10/Lib/10.0.10240.0/um/x64\" "
             "Ws2_32.lib kernel32.lib "
             "/OPT:REF /OPT:ICF /LTCG /TLBID:1 /DYNAMICBASE /NXCOMPAT "
             "/MACHINE:X64"
            }
           ]}.

{post_hooks, [{clean, "rm -f priv/*.dll c_src/*.o c_src/*.d"},
              {compile, "rm -f c_src/*.o c_src/*.d priv/*.exp priv/*.lib"}]}.
