%%-*- mode: erlang -*-
{xref_checks, [undefined_function_calls]}.
{erl_opts, [{parse_transform, lager_transform}]}.
{deps, [
    {sext,      "",         {git, "git@github.com:uwiger/sext.git",      	    master}},
    {goldrush,  "0.1.6",    {git, "git://github.com/k2informatics/goldrush.git",    {tag, "0.1.6"}}},
    {lager,     "2.0.3",    {git, "git://github.com/k2informatics/lager.git",       {tag, "2.0.3"}}},
    {ranch,     "0.9.0",    {git, "git://github.com/k2informatics/ranch.git",       {tag, "0.9.0"}}},
    {sqlparse,  "",         {git, "git@github.com:k2informatics/sqlparse.git",      master}},
    {jpparse,  "",         {git, "git@github.com:k2informatics/jpparse.git",      master}}
]}.
