%%-*- mode: erlang -*-
%% ex: ft=erlang
{xref_checks, [undefined_function_calls]}.
{erl_opts, [{parse_transform, lager_transform}
            %, debug_info, report_warnings, {warn_format,1}
            %, warn_export_vars, warn_obsolete_guard
            %, warn_unused_import, warn_missing_spec
            %, warn_untyped_record
           ]}.
{eunit_opts, [verbose]}.
{deps, [
    {sext,      "",         {git, "https://github.com/k2informatics/sext.git",      {branch, "uw-maps"}}},
    {goldrush,  "0.1.6",    {git, "https://github.com/k2informatics/goldrush.git",  {tag, "0.1.6"}}},
    {lager,     "2.1.0",    {git, "https://github.com/k2informatics/lager.git",     {tag, "2.1.0"}}},
    {jsx,       "2.4.0",    {git, "https://github.com/k2informatics/jsx.git",       {tag, "v2.4.0"}}},
    {ranch,     "1.1.0",    {git, "https://github.com/k2informatics/ranch.git",     {tag, "1.1.0"}}},
    {sqlparse,  "1.3.1",    {git, "https://github.com/k2informatics/sqlparse.git",  {tag, "sqlparse-1.3.1"}}},
    {erlhlc,    "0.0.1",    {git, "https://github.com/k2informatics/erlhlc.git",    master}}
]}.
